#RemoveHandler .html .htm
#AddType application/x-httpd-php .php .htm .html .phtml

DirectoryIndex ru.php

RewriteEngine On

RewriteBase /

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ https://barcelonadriver.com [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://barcelonadriver.com [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /ru\.html\ HTTP/
RewriteRule ^index\.html$ https://barcelonadriver.com [R=301,L]

RewriteCond %{HTTP_HOST} ^www.barcelonadriver\.com$ [NC]
RewriteRule ^(.*)$ https://barcelonadriver.com/$1 [R=301,L]

#Remove .php from url
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

RewriteRule ^pay_data_base/(.*)$ - [R=404,L]

# Кеширование картинок, js и css
FileETag MTime Size
<ifmodule mod_expires.c>
 <filesmatch ".(webp|jpg|gif|png|js|css)$">
 ExpiresActive on
 ExpiresDefault "access plus 1 month"
 </filesmatch>
</ifmodule>

<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|gif|png)$">
    Header append Cache-Control "public"
  </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css)$">
    Header append Vary Accept-Encoding
    Header append Cache-Control "private"
  </FilesMatch>
</IfModule>
