/*Variables SCSS*/
  //Breakpoints
  $breakpoint-xs: 0;
  $breakpoint-400: 400px;
  $breakpoint-480: 480px;
  $breakpoint-640: 640px;
  $breakpoint-sm: 576px;
  $breakpoint-md: 768px;
  $breakpoint-lg: 992px;
  $breakpoint-1090: 1090px;
  $breakpoint-xl: 1200px;

/*Variables CSS*/
:root {
  //Colors
  --blue: #007bff;
  --dark-blue: #0033cc;
  --black-blue: #0005b5;
  --light-blue: #66ccff;
  --white-blue: #d9f2ff;
  --opt-blue: #b2e5ff;
  --opt2-blue: #e0f5ff;
  --mid-blue: #003fff;
  --indigo: #af39dd;
  --purple: #cc66ff;
  --dark-purple: #9933cc;
  --light-purple: #7f99e5;
  --pink: #e83e8c;
  --red: #F1252A;
  --orange: #ff9933;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --light-gray: #cdcdcd;
  --mid-gray: #f5f5f5;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --sub-menu: #1548d1;
  --sub-menu-hover: #295cd6;
  --black-light: #333;

  //Transition
  --transition1: all ease-in 100ms;
  --transition2: all ease-in 200ms;
  --transition4: all ease-in 400ms;
  --transition6: all ease-in 600ms;

  --btn-grad: linear-gradient(to right, #e52c43, #ff6b01);
}

html {
  font-size: 16px;
}

html, body {
  min-width: 320px;
  height: 100%;
  //overflow-x: hidden;
}

.inner-wrap {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 25px;
  position: relative;

  @media only screen and (max-width: $breakpoint-md) {
    padding: 0 10px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: 300;
}

main {
  padding: 155px 0 0;
}

nav {
  ul, ol {
    list-style: none;
    padding: 0;
  }
}

a:hover {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

input:focus {
  outline: none;
}

.layer {
  &-container {
    position: relative;
    padding: 45px 0;
  }

  &-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;

  &:hover {
    transition: var(--transition1);
  }

  &--grad {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    height: 60px;
    border-radius: 6px;
    background: var(--btn-grad);
    border: 1px solid transparent;

    &:hover {
      border-color: #e52c43;
      background: #fff;
      color: #e52c43;
    }
  }

  &--score {
    width: 270px;
    margin: 0 30px;
  }
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

@media only screen and (max-width: $breakpoint-xl) {
  h1, .h1 {
    font-size: calc(1rem + 1.2vw) !important;
  }

  h2, .h2 {
    font-size: calc(1rem + 1vw) !important;
  }

  h3, .h3, h4, .h4 {
    font-size: calc(1rem + 0.4vw) !important;
  }
}

