header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: var(--white);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  //@media only screen and (max-width: $breakpoint-lg) {

  //}

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }
}

.side {
  &-top {
    background: var(--mid-gray);
    height: 105px;

    &-cont {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 105px;
    }
  }

  &-bottom {
    background: #fff;
    height: 50px;

    &-cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
    }
  }
}

.pad-left {
  padding: 0 0 0 220px;
}

.header {
  &-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  &-soc-btns {
    display: flex;
    align-items: center;

    li {
      margin: 0 10px 0 0;

      &:last-child {
        margin: 0;
      }

      &:hover {
        img {
          opacity: 0.5;
          transition: var(--transition1);
        }
      }
    }
  }
}

.head-text {
  max-width: 300px;
}

.lang-menu {
  display: flex;
  align-items: center;
  font-size: 1.125rem;

  li {
    margin: 0 30px 0 0;

    &:last-child {
      margin: 0;
    }

    img {
      margin: 0 8px 0 0;
      box-shadow: 0 0 15px rgba(0,0,0,.1);
    }
  }

  a {
    border-radius: 10px;
    padding: 6px 10px;
    color: #000;
    display: flex;
    align-items: center;

    &:hover {
      background: #fff;
      transition: var(--transition1);
      color: #000;
      text-decoration: none;
    }
  }
}

.current-lang {
  background: #fff;
  border-radius: 5px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
}

.contact-menu {
  display: flex;
  align-items: center;

  & > a {
    margin: 0 5px;

    &:hover {
      img {
        filter: grayscale(1);
        transition: var(--transition1);
      }
    }
  }
}

.main-menu {
  display: flex;
}

.numbers-sect {
  a {
    display: block;
  }

  &-phone {
    position: relative;
    padding: 10px 32px 0 15px;
    border-radius: 5px 5px 0 0;

    &-hidden {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 0 32px 10px 15px;
      opacity: 0;
      visibility: hidden;
      transition: var(--transition2);
      border-radius: 0 0 5px 5px;
    }

    &--open {
      background: #fff;
      transition: var(--transition2);
      box-shadow: 0 1px 5px rgba(0,0,0,0.1);

      .numbers-sect-phone-hidden {
        opacity: 1;
        visibility: visible;
        transition: var(--transition2);
        background: #fff;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
      }

      .num-top {
        border-color: #fff;
      }

      .arrow-btn {
        transform: rotate(180deg);
        transition: var(--transition2);
      }
    }
  }

  &-mail {
    padding: 0 10px;
    text-align: right;
    color: #000;
    margin: 5px 0 0;
  }
}

.arrow-btn {
  position: absolute;
  top: 18px;
  right: 8px;
  width: 20px;
  height: 16px;
  display: block;
  background: url("../img/arrow-btn.png") center no-repeat;
  background-size: 14px 8px;
  transform: rotate(0);
  transition: var(--transition2);
}

.num {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  line-height: 1;
  margin: 3px 0;

  &-top {
    border-bottom: 1px dotted;
  }
}

.main-menu {
  display: flex;

  li {
    margin: 0 32px 0 0;

    &:last-child {
      margin: 0;
    }

    a {
      color: #000;

      &:hover {
        color: var(--red);
        transition: var(--transition1);
      }

      &.current-sect {
        color: var(--red);
      }
    }
  }
}

//.line-1, .line-2, .line-3 {
//  height: 4px;
//  background: var(--dark-purple);
//  position: relative;
//  display: block;
//  width: 35px;
//  top: 0;
//  margin-bottom: 5px;
//  transition: var(--transition);
//  margin-left: auto;
//  margin-right: auto;
//  border-radius: 3px;
//}
//
//.line-2{
//  -webkit-transition-delay: 0.1s;
//  transition-delay: 0.1s;
//}
//
//.line-3 {
//  margin-bottom: 0;
//  -webkit-transition-delay: 0.2s;
//  transition-delay: 0.2s;
//}
//
//.cross, .cross:after{
//  position: absolute;
//  width: 0;
//  height: 4px;
//  background: var(--dark-purple);
//  top: 50%;
//  left: 50%;
//  -webkit-transition: var(--transition);
//  transition: var(--transition);
//  border-radius: 3px;
//}
//
//.cross{
//  -webkit-transform: translate(-50%, -50%) rotate(45deg);
//  transform: translate(-50%, -50%) rotate(45deg);
//}
//
//.cross:after{
//  content: "";
//  -webkit-transform: translate(-50%, -50%) rotate(90deg);
//  transform: translate(-50%, -50%) rotate(90deg);
//}

//.main-menu-switch:checked {
//  & ~ .main-menu-btn {
//    .line-1 {
//      width: 0;
//    }
//
//    .line-2 {
//      width: 0;
//      -webkit-transition-delay: 0.1s;
//      transition-delay: 0.1s;
//    }
//
//    .line-3 {
//      width: 0;
//      -webkit-transition-delay: 0.2s;
//      transition-delay: 0.2s;
//    }
//
//    .cross {
//      width: 35px;
//      -webkit-transition-delay: 0.2s;
//      transition-delay: 0.2s;
//    }
//
//    .cross:after {
//      width: 35px;
//      -webkit-transition-delay: 0.3s;
//      transition-delay: 0.3s;
//    }
//  }
//
//  & ~ nav .main-menu {
//    transform: translateX(0);
//    box-shadow: var(--left-shadow);
//    transition: var(--transition);
//  }
//}
