.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition2);

  &-open {
    visibility: visible;
    opacity: 1;
    transition: var(--transition2);
  }

  &-close {
    position: absolute;
    top: 20px;
    right: -60px;
    z-index: 100;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #e52c43;

    @media only screen and (max-width: 930px) {
      top: 5px;
      right: 5px;
    }

    &:hover {
      filter: opacity(0.8);
      transition: var(--transition1);
    }

    &:after, &:before {
      content: '';
      display: block;
      background: var(--btn-grad);
      height: 2px;
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transform-origin: center;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &-dialog {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
  }

  &-content {
    width: 100%;
    max-width: 770px;
    background: #fff;
    border-radius: 6px;
    position: relative;
    z-index: 15;
    margin: 25px auto;
  }

  &-header {
    padding: 1.3vw 0;
    position: relative;

    @media only screen and (max-width: 930px) {
      padding: 50px 0 1.3vw;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 1vw;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 100%;
      max-width: 240px;
      height: 1px;
      background: var(--btn-grad);
    }
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  &-body {
    padding: 0 0 2.1vw;
  }
}

.form_hide {
  display: none;
}

.form-pad-h {
  padding-left: 1.6vw;
  padding-right: 1.6vw;
}

.mod-inp {
  height: 50px;
  color: #000;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  display: block;

  &--sel {
    -webkit-appearance: none;
    outline: none;
    width: 70px;
    background: #fff url(../img/arrow.png) 90% 50% no-repeat;
    padding: 0 25px 0 12px;
  }
}

.inp-w100 {
  width: 100%;
  padding: 0 20px;

  @media only screen and (max-width: 500px) {
    padding: 0 10px;
  }
}

.inp-w50 {
  width: calc(50% - 0.75vw);
  padding: 10px 20px 10px 45px;

  @media only screen and (max-width: 500px) {
    padding: 14px 5px 14px 28px;
  }

  &-smpl {
    width: 100%;
    padding: 0 20px;
  }
}

.inp-w50-l {
  width: calc(50% - 0.75vw);
  margin: 0;

  span {
    font-size: 0.8rem;
    padding: 0 0 0 3px;
  }

  input {
    width: 100%;
    padding: 10px 20px 10px 45px;

    @media only screen and (max-width: 500px) {
      padding: 14px 5px 14px 28px;
    }
  }
}

.light {
  color: var(--light-gray);
}

.inp-dis {
  border: none;
  padding: 0;
  width: 95px;
  text-align: right;
  font-size: 1.875rem;
  font-weight: 700;

  &--text {
    font-size: 1em;
    font-weight: 300;
  }
}

.input {
  &-title {
    margin: 0 0 0.8vw;

    @media only screen and (max-width: 500px) {
      margin: 15px 0 0.8vw;
    }
  }

  &-sect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1.5vw;

    @media only screen and (max-width: 500px) {
      margin: 0 0 15px;
    }

    input {
      margin: 0 1.5vw 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.title-sect {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 500px) {
    padding: 15px 0 0;
  }

  .input-title {
    width: 100%;
    margin: 0 1.5vw .8vw 0;

    &:last-child {
      margin: 0 0 .8vw;
    }
  }
}

.sect-w {
  width: 100%;
  margin: 0 1.5vw 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    margin: 0;
  }
}

.sect-back-col {
  background: var(--mid-gray);
}

.select-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;

  @media only screen and (max-width: 560px) {
    flex-direction: column;
  }

  .bef1 {
    width: 100%;

    @media only screen and (min-width: 561px) and (max-width: 967px) {
      width: auto;
    }
  }

  img {
    filter: invert(25%);
  }

  select {
    -webkit-appearance: none;
    outline: none;
    border: 1px solid var(--light-gray);
    border-radius: 6px;
    height: 60px;
    width: 100%;
    padding: 25px 36px 8px 16px;
    font-size: 1.25rem;
    font-weight: 700;
    background: #fff url(../img/arrow.png) 95% 50% no-repeat;

    @media only screen and (max-width: 967px) {
      height: 50px;
      width: 260px;
      padding: 18px 24px 6px 12px;
    }

    @media only screen and (max-width: 560px) {
      width: 100%;
    }
  }
}

.data_text_1, .data_text_2 {
  background: url("../img/inp-bg-1.png") 8px 50% no-repeat;
}

.time_text_1, .time_text_2 {
  background: url("../img/inp-bg-2.png") 8px 50% no-repeat;
}

.passanger {
  background: url("../img/inp-bg-3.png") 8px 50% no-repeat;
}

.stuff {
  background: url("../img/inp-bg-4.png") 8px 50% no-repeat;
}

.car-beds {
  background: url("../img/baby-car-seat-40.png") 8px 50% no-repeat;
}

.car-seats {
  background: url("../img/baby-40.png") 8px 50% no-repeat;
}

.booster {
  background: url("../img/seat-40.png") 8px 50% no-repeat;
}

.inp-bg {
  background-size: 30px auto;

  @media only screen and (max-width: 500px) {
    background-position: 4px 50%;
    background-size: 20px auto;
  }
}

.fl {
  width: 24%;

  @media only screen and (max-width: 480px) {
    width: 49%;
    margin: 0 0 10px;

    &:last-child {
      width: 100%;
    }
  }
}

.label-for-check2 {
  border: 2px solid var(--light-gray);
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-weight: 700;
  text-transform: uppercase;
}

.person-val {
  font-size: 1.125rem;
}

.trans-price {
  font-size: 3.125rem;
}

.put_price_car {
  padding-top: 2.1vw;
  padding-bottom: 2.1vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  input {
    display: none;

    &:checked ~ .label-for-check2 {
      background: var(--btn-grad);
      border: 2px solid #e52c43;
      border-image: var(--btn-grad) 10% stretch;
      border-image-width: 2px;
      color: #fff;
    }
  }
}

.btn--popup-order {
  width: 270px;
  margin: 0 auto;
}

.erro_trnsf {
  color: red;
  display: none;
  font-size: 1.25rem;
  text-align: center;
  margin: 0 0 15px;
}

.switch {
  position: relative;
  width: 70px;
  min-width: 70px;
  height: 30px;
  margin: 0 20px 0 0;

  .slider {
    border-radius: 20px;
    border: 1px solid var(--light-gray);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 21px;
      width: 21px;
      left: 3px;
      top: 3px;
      border-radius: 50%;
      background: var(--btn-grad);
      transition: .4s;
    }
  }

  input {
    display: none;

    &:checked + .slider {
      background: var(--btn-grad);
      border: 1px solid #e52c43;

      &:before {
        transform: translateX(40px);
        background: #fff;
      }
    }
  }
}

.special {
  color: #bbb;
}

.wait {
  flex-grow: 1;
}

.number_text, .place_text_1, .place_text_2 {
  margin: 0 0 1.5vw;
}

.person-conts {
  padding-top: 2.1vw;
  padding-bottom: 0.6vw;

  @media only screen and (max-width: 500px) {
    .input-sect {
      flex-direction: column;

      input {
        margin: 0 0 1.5vw 0;
      }
    }
  }
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding-top: 1.5vw;
  padding-bottom: 1vw;
}

.unitCount {
  font-size: 3.125rem;
  font-weight: 700;
  background: var(--btn-grad);
  -webkit-background-clip: text;
  color: #e52c43;
  line-height: 1;
}

.result {
  padding-bottom: 1.05vw;
  text-align: center;
  font-weight: 700;
}

.submit-btns {
  display: flex;
  justify-content: space-between;
  padding-top: 2.1vw;
  padding-bottom: 2.1vw;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }

  button {
    width: 100%;
    margin: 0 1.5vw 0 0;

    @media only screen and (max-width: 500px) {
      margin: 0 0 1.5vw 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.btn-now {
  height: 70px;
}

.d-col {
  @media only screen and (max-width: 500px) {
    flex-wrap: wrap;

    .wait {
      order: 1;
      width: 100%;
    }

    .switch {
      order: 2;
    }

    input {
      order: 3;
    }
  }
}
.d-vert {
  @media only screen and (max-width: 500px) {
    flex-direction: column;

    .sect-w {
      margin: 0 0 1.5vw;
    }
  }
}

.myModal_fail, .myModal_succes {
  .modal-body {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.25rem;
    color: var(--red);
    text-align: center;
  }
}

.myModal_succes {
  .modal-body {
    color: var(--success);
  }
}

.no-price {
  display: none;
  font-size: 1rem;
  font-weight: 300;
  height: 60px;
  align-items: center;

  @media only screen and (max-width: 1200px) {
    height: 30px;
  }
}

.m-0 {
  margin: 0;
}

//excursions
#myModal3 {
  .modal-title {
    text-transform: uppercase;
  }

  .modal-body {
    padding: 0;
  }
}

.exc {
  &-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 5px 0 30px;
    //filter: brightness(60%);

    @media only screen and (max-width: 480px) {
      height: 200px;
    }
  }

  &-full-text {
    padding-bottom: 15px;
  }

  &-feat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    border-top: 1px solid var(--mid-gray);

    @media only screen and (max-width: 640px) {
      flex-direction: column;
    }
  }

  &-time {
    padding: 10px 5px 10px 50px;
    background: url(../img/inp-bg-2.png) 0 50% no-repeat;
  }

  &-mod-price {
    padding: 10px 0 10px 5px;
    display: flex;
    align-items: center;

    span {
      background: var(--btn-grad);
      -webkit-background-clip: text;
      color: #e52c43;
      font-size: 3.125rem;
      margin: 0 0 0 20px;
    }
  }
}

.btn--exc {
  height: 50px;
  width: 100%;
  max-width: 340px;
  margin: 20px auto 0;
}

.form-sect {
  //background: var(--mid-gray);

  .modal {
    &-title {
      padding: 30px 0 15px;
    }

    &-subtitle {
      width: 100%;
      max-width: 360px;
      text-align: center;
      margin: 0 auto 20px;
    }
  }

  form {
    padding: 0 0 40px;
  }
}

.inp-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  input {
    background: #fff;
    padding: 0 20px;
    width: calc(50% - 15px);
    margin: 0 0 12px;

    @media only screen and (max-width: 480px) {
      width: 100%;
    }
  }
}

.comments_text {
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  display: block;
  background: #fff;
  padding: 15px 20px;
  width: 100%;
  height: 150px;
  margin: 0 0 12px;
}

.smpl {

  .form-sect {
    width: 100%;
    max-width: 390px;

    @media only screen and (max-width: 480px) {
      max-width: 100%;
    }
  }

  .inp-field input {
    width: 100%;
  }

  .modal-header:before {
    left: 1.6vw;
    transform: translateX(0);
  }

  .modal-title, .modal-subtitle {
    text-align: left;
  }
}

#myModal4 {
  .modal-content {
    background: url(../img/foto-modal-1.png) 90% calc(100% + 30px) no-repeat,
    url(../img/shoping-modal-2.jpg) no-repeat;
    background-size: contain, cover;

    @media only screen and (max-width: 767px) {
      background-position: 90% calc(100% + 170px), 0;
    }
  }

  .form-sect .modal-subtitle {
    margin: 0 0 20px;
  }
}

#myModal5 {
  .modal-content {
    background: url(../img/shoping-modal-1.png) calc(100% + 30px) calc(100% + 30px) no-repeat,
    url(../img/shoping-modal-2.jpg) no-repeat;
    background-size: contain, cover;

    @media only screen and (max-width: 767px) {
      background-position: 100% calc(100% + 170px), 0;
    }
  }

  .form-sect .modal-subtitle {
    margin: 0 0 20px;
  }
}
