.sc-3 {
  background: var(--mid-gray);

  table {
    width: 100%;
    font-size: 1.125rem;

    @media only screen and (max-width: 400px) {
      width: 380px;
      overflow: auto;
    }

    @media only screen and (max-width: 350px) {
      width: 425px;
    }

    tr:nth-child(odd) {
      background: #fff;
    }

    td {
      padding: 10px 20px;
      text-align: center;
      width: 160px;

      @media only screen and (max-width: 967px) {
        padding: 6px 8px;
        font-size: 0.9rem;
        width: 115px;
      }

      @media only screen and (max-width: 640px) {
        width: 20%;
        font-size: 0.8rem;
        padding: 6px;
      }

      &.b-l {
        text-align: left;
        width: calc(100% - 640px);

        @media only screen and (max-width: 967px) {
          width: calc(100% - 460px);
        }

        @media only screen and (max-width: 640px) {
          width: 40%;
        }
      }
    }
  }
}

.price-tables {
  padding: 7vh 0;

  &-input {
    display: none;
  }

  &-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -14px;

    @media only screen and (max-width: $breakpoint-md) {
      margin: 0 -10px;
    }

    label {
      width: calc(25% - 28px);
      margin: 10px 14px;
      cursor: pointer;
      border: 2px solid #e52c43;
      border-image: var(--btn-grad) 10% stretch;
      border-image-width: 2px;

      @media only screen and (max-width: 900px) {
        width: calc(33.3333% - 16px);
        margin: 10px 8px;
      }

      @media only screen and (max-width: 640px) {
        width: calc(50% - 16px);
      }

      @media only screen and (max-width: 380px) {
        width: calc(100% - 16px);
        margin: 5px 8px;
      }

      &:hover {
        background: var(--btn-grad);
      }
    }
  }

  &-item {
    height: 0;
    overflow-x: auto;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition4);
  }
}

#barcelona:checked {
  & ~ .inner-wrap .barcelona {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: var(--transition4);
  }

  & ~ .btns-sect label[for="barcelona"] {
    background: var(--btn-grad);
  }
}

#dorada:checked {
  & ~ .inner-wrap .dorada {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: var(--transition4);
  }

  & ~ .btns-sect label[for="dorada"] {
    background: var(--btn-grad);
  }
}

#brava:checked {
  & ~ .inner-wrap .brava {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: var(--transition4);
  }

  & ~ .btns-sect label[for="brava"] {
    background: var(--btn-grad);
  }
}

#andorra:checked {
  & ~ .inner-wrap .andorra {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: var(--transition4);
  }

  & ~ .btns-sect label[for="andorra"] {
    background: var(--btn-grad);
  }
}

tr.t-title {
  height: 70px;
  font-weight: 700;

  @media only screen and (max-width: 967px) {
    height: 40px;
  }
}

tr.normal {
  height: 50px;

  @media only screen and (max-width: 967px) {
    height: 35px;
  }
}

.b-t {
  text-transform: uppercase;

  @media only screen and (max-width: 640px) {
    text-transform: lowercase;
  }
}

.new-p {
  color: var(--red);

  span {
    color: #000;
    text-decoration: line-through;

    @media only screen and (max-width: 480px) {
      display: block;
    }
  }
}

.btn--order {
  width: 100%;
  max-width: 365px;
  margin: 40px auto 0;
}



