.sc-4 {
  min-height: calc(100vh - 106px);

  @media only screen and (max-width: 967px) {
    min-height: calc(100vh - 50px);
  }

  .section-aligning {
    justify-content: center;
    min-height: calc(90vh - 106px);

    @media only screen and (max-width: 967px) {
      min-height: calc(90vh - 50px);
    }
  }

  .main-title {
    flex-grow: 0;
  }
}

.about-text {
  text-align: center;
  color: #fff;
  padding: 20px 50px;
  background: rgba(0,0,0,.4);
  position: relative;

  @media only screen and (max-width: 640px) {
    text-align: left;
    padding: 20px;
  }

  span {
    text-transform: uppercase;
  }
}

.corner-border {
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #e52c43;
    display: block;
    width: 70px;
    height: 2px;
  }

  &:after {
    width: 2px;
    height: 70px;
  }

  &--rev {
    &:before, &:after {
      top: unset;
      left: unset;
      bottom: 0;
      right: 0;
    }
  }
}
