.sc-6 {
  min-height: calc(100vh - 106px);

  @media only screen and (max-width: 967px) {
    min-height: calc(100vh - 50px);
  }

  .section-aligning {
    min-height: calc(90vh - 106px);
    justify-content: center;

    @media only screen and (max-width: 967px) {
      min-height: calc(90vh - 50px);
    }
  }

  .main-title {
    flex-grow: 0;
  }
}

.excursions {
  &-list {
    display: flex;
    margin: 0 -15px;
    opacity: 0;
    visibility: hidden;

    @media only screen and (max-width: $breakpoint-md) {
      margin: 0 -10px;
    }

    &.slick-initialized {
      opacity: 1;
      visibility: visible;
      transition: var(--transition4);
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      min-height: 100%;
      height: auto;
      padding: 15px;

      > div {
        height: 100%;
      }
    }
  }

  &-item {
    position: relative;
    overflow: hidden;
    color: #fff;
    background: #000;
    border-radius: 6px;
    height: 100%;

    @media only screen and (max-width: 579px) {
      max-width: 450px;
      margin: 0 auto;
      display: block !important;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 5px rgba(255,255,255,.15);
      transition: var(--transition1);
    }

    &-layer {
      height: 310px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      img {
        display: block;
        height: 100%;
        width: auto;
      }
    }

    &-descr {
      position: relative;
      padding: 280px 25px 25px;
      //background: linear-gradient(to top,#000 25%,rgba(0,0,0,.1));
      background: linear-gradient(to bottom, rgba(0,0,0,.1) 230px,#000 280px);

      @media only screen and (max-width: 640px) {
        padding: 280px 12px 12px;
      }
    }

    &-title {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      font-size: 1.5rem;
      margin: 0 0 10px;
    }
  }
}

.exc-price {
  font-weight: 700;
  background: var(--btn-grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #e52c43;
}

.descr-full {
  display: none;
}
