.sc-7 {
  min-height: calc(100vh - 106px);

  @media only screen and (max-width: 967px) {
    min-height: calc(100vh - 50px);
  }

  &.section-pad {
    padding: 5vh 0 0;
  }

  .main-title {
    color: #000;
    margin: 0 0 35px;
    align-items: flex-start;

    &:after {
      transform: translate(0);
      left: 0;
    }
  }

  .inner-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(95vh - 106px);

    @media only screen and (max-width: 967px) {
      min-height: calc(95vh - 50px);
    }
  }
}

.aside {
  &-cont {
    width: 100%;
    max-width: 600px;
    padding: 0 32px 0 0;

    &-text {
      margin: 0 0 60px;

      @media only screen and (max-width: 640px) {
        margin: 0 0 30px;
      }
    }
  }

  &-img {
    position: absolute;
    bottom: 0;
    left: 620px;

  }
}

.btn--aside {
  width: 100%;
  max-width: 370px;

  @media only screen and (max-width: 640px) {
    margin: 0 0 30px;
  }
}
