.sc-7 {
  min-height: calc(100vh - 106px);
  overflow-y: hidden;

  @media only screen and (max-width: 967px) {
    min-height: calc(100vh - 50px);
  }

  &.section-pad {
    padding: 5vh 0 0;
  }

  .main-title {
    color: #000;
    margin: 0 0 35px;
    align-items: flex-start;
    
    @media only screen and (max-width: 1200px) {
      color: #fff;
    }

    &:after {
      transform: translate(0);
      left: 0;
    }
  }

  .inner-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(95vh - 106px);

    //@media only screen and (max-width: 1200px) {
    //  justify-content: space-between;
    //}

    @media only screen and (max-width: 967px) {
      min-height: calc(95vh - 50px);
    }
  }
}

.aside {
  &-cont {
    width: 100%;
    max-width: 600px;
    padding: 0 32px 0 0;
    z-index: 2;

    @media only screen and (max-width: 1200px) {
      background: rgba(0,0,0,.4);
      color: #fff;
      padding: 15px 15px 0 15px;
      margin: 0 0 20px;
      border-radius: 3px;
    }

    &-text {
      margin: 0 0 60px;

      @media only screen and (max-width: 1200px) {
        margin: 0 0 30px;
      }
    }
  }

  &-img {
    position: absolute;
    bottom: 0;
    left: 620px;

    @media only screen and (max-width: 1200px) {
      left: unset;
      right: 0;
      opacity: 0.85;

      img {
        max-width: 90vw;
        height: auto;
      }
    }

  }
}

.btn--aside {
  width: 100%;
  max-width: 370px;

  @media only screen and (max-width: 1200px) {
    margin: 0 0 30px;
  }
}
