.select2-container {
  max-width: 100%;

  .select2-selection {
    outline: none;

    &--single {
      height: 60px;
      border-radius: 6px;
      border: 1px solid var(--light-gray);

      @media only screen and (max-width: 967px) {
        height: 50px;
      }

      .select2-selection__rendered {
        padding: 30px 24px 8px 12px;
        font-size: 1.25rem;
        font-weight: 700;
        color: #212529;
        line-height: 20px;

        @media only screen and (max-width: 967px) {
          padding: 24px 24px 4px 12px;
        }
      }

      .select2-selection__arrow {
        height: 58px;
        right: 13px;
        background: url(../img/arrow.png) 95% 50% no-repeat;

        @media only screen and (max-width: 967px) {
          height: 48px;
        }

        b {
          display: none;
        }
      }
    }
  }
}
