.slick-arrow {
  font-size: 0;
  color: transparent;
  display: block;
  width: 70px;
  height: 70px;
  background: url("../img/arrow-grey.png") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 40%;
  right: 0;
  transform: translate(50%, -50%);

  &:hover{
    opacity: 0.75;
    transition: var(--transition1);
  }

  &.slick-next {
    left: 0;
    right: unset;
    transform: translate(-50%, -50%) rotate(180deg);
  }
}